.homePage {
    max-width: 1080px;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
}

.home-left {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    gap: 4rem;
    flex-direction: column;
    justify-content: space-evenly;
}

.home-right {
    margin: 0 auto;
    width: 40%;
}

.home-right img {
    height: 25rem;
}

#orangeNotesHero {
    font-size: 3rem;
    font-weight: 500;
}

#orangeNotesHero span {
    color: rgb(253, 122, 46);
    font-weight: 550;
}

.login-signup {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.btn {
    padding: 0.7rem;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 450;
    border: 2px solid rgb(253, 122, 46);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.login {
    position: relative;
    padding: 0.7rem 1rem;
    background-color: transparent;
}

.signup {
    background-color: rgb(253, 122, 46);
}

.signup:hover {
    background-color: #fd8544;
    transition: all 0.2s linear;
}

.login:hover {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

@media (max-width: 1080px) {
    .homePage {
        max-width: 95%;
    }
    
    .home-right img {
        height: 18rem;
    }

    #orangeNotesHero {
        font-size: 2.5rem;
    }

    .btn {
        padding: 0.6rem;
        font-size: 1rem;
    }

    .login {
        padding: 0.6rem 0.8rem;
    }

}

@media (max-width: 768px) {
    .home-left {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .home-left div p {
        text-align: center;
    }
    .abc{
        text-align: center;
        margin: 0 auto;
    }

    .home-right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home-right img {
        height: 15rem;
        display: block;
    }
}